Repository mindsphere/DataSpaceConnector-Fork, changes with the owners that CODEOWNERS names for each.
All owners: @MoritzKeppler, @juliapampus, @alexandrudanciu, @mspiekermann, @paullatzelsperger, @algattik, @ndr-brt, @ouphi, @marcgs, @bscholtes1A, @jimmarino, @ronjaquensel, @DominikPinsel, @denisneuling, @cpeeyush, @bcronin90

CODEOWNERS:

# This file provides an overview of responsibilities in this repository.

# Please note that this file does not represent all contributions to the code. What persons and organizations
# actually contributed to each file can be seen on GitHub and is documented in the license headers.

# Linked persons with write permissions are automatically added as reviewers when a pull request is opened.

# Each line is a file pattern followed by one or more contact persons. The last matching pattern has the most precedence.
# For more details, read the following article on GitHub: https://help.github.com/articles/about-codeowners/.

CONTRIBUTING.md @MoritzKeppler @juliapampus @alexandrudanciu @mspiekermann
contribution_categories.md @paullatzelsperger @mspiekermann
LICENSE @MoritzKeppler @juliapampus @alexandrudanciu @mspiekermann
NOTICE.md @alexandrudanciu @mspiekermann
onboarding.md @paullatzelsperger
openapi.md @paullatzelsperger
pr_etiquette.md @paullatzelsperger
SECURITY.md @alexandrudanciu @mspiekermann
styleguide.md @paullatzelsperger

.github/actions/ @algattik
.github/ISSUE_TEMPLATE @juliapampus @paullatzelsperger
.github/workflows/ @paullatzelsperger @ndr-brt @algattik @ouphi

/buildSrc/ @paullatzelsperger @marcgs

/common/state-machine-lib/ @ndr-brt @algattik
/common/token-generation-lib/ @bscholtes1A
/common/token-validation-lib/ @bscholtes1A

/core/base/agent/ @jimmarino
/core/base/policy/ @jimmarino
/core/boot/ @jimmarino @paullatzelsperger
/core/contract/ @jimmarino @juliapampus @ronjaquensel
/core/defaults/ @paullatzelsperger
/core/event/ @ndr-brt
/core/health/ @paullatzelsperger
/core/micrometer/ @algattik
/core/policy/ @jimmarino
/core/security/ @bscholtes1A
/core/transfer/ @jimmarino @bscholtes1A @paullatzelsperger @ndr-brt

/data-protocols/ids/ @ronjaquensel @juliapampus @DominikPinsel @denisneuling
/data-protocols/ids/ids-jsonld-serdes-lib/ @juliapampus

/docs/ @juliapampus

/extensions/api/ @ndr-brt @paullatzelsperger
/extensions/aws/ @paullatzelsperger
/extensions/azure/ @paullatzelsperger
/extensions/catalog/ @paullatzelsperger
/extensions/data-plane/ @bscholtes1A @jimmarino
/extensions/data-plane-selector/ @paullatzelsperger
/extensions/data-plane-transfer/ @bscholtes1A
/extensions/dataloading/ @paullatzelsperger
/extensions/events/ @ndr-brt
/extensions/filesystem/ @jimmarino @paullatzelsperger
/extensions/http/ @paullatzelsperger
/extensions/http-provisioner/ @jimmarino @paullatzelsperger
/extensions/http-receiver/ @bscholtes1A
/extensions/iam/daps/ @bscholtes1A
/extensions/iam/decentralized-identity/ @paullatzelsperger
/extensions/iam/oauth2/ @bscholtes1A
/extensions/jdk-logger-monitor/ @cpeeyush
/extensions/sql/ @bcronin90 @denisneuling @paullatzelsperger
/extensions/transaction/ @jimmarino

/launchers/data-loader-cli/ @paullatzelsperger @ronjaquensel
/launchers/data-plane-server/ @bscholtes1A
/launchers/dpf-selector/ @paullatzelsperger
/launchers/ids-connector/ @ronjaquensel

/resources/ @paullatzelsperger

/samples/01-basic-connector/ @paullatzelsperger
/samples/02-health-endpoint/ @paullatzelsperger
/samples/03-configuration/ @paullatzelsperger
/samples/04.0-file-transfer/ @ronjaquensel
/samples/04.1-file-transfer-listener/ @algattik
/samples/04.2-modify-transferprocess/ @paullatzelsperger
/samples/04.3-open-telemetry/ @algattik
/samples/05-file-transfer-cloud/ @paullatzelsperger
/samples/other/ @paullatzelsperger

/system-tests/azure-data-factory-tests/ @cpeeyush
/system-tests/azure-tests/ @algattik
/system-tests/e2e-transfer-test/ @ndr-brt
/system-tests/minikube/ @algattik
/system-tests/runtimes/ @algattik
/system-tests/tests/ @algattik

/tooling/ @jimmarino

initial commit on multitenant support
  samples/other/file-transfer-http-to-http/api/src/main/java/com/siemens/mindsphere/datalake/edc/http/ConsumerApiController.java
  samples/other/file-transfer-http-to-http/provider/build.gradle.kts
  samples/other/file-transfer-http-to-http/provider/src/main/java/com/siemens/mindsphere/ProviderBaseRuntime.java
  samples/other/file-transfer-http-to-http/provider/src/main/java/com/siemens/mindsphere/SiemensCatalogServiceImpl.java
  samples/other/file-transfer-http-to-http/provider/src/main/java/com/siemens/mindsphere/SourceUrlExtension.java
  samples/other/file-transfer-http-to-http/provider/src/main/java/com/siemens/mindsphere/TenantJwtDecorator.java
Owners: @paullatzelsperger

remove unused jwt token decorator
  samples/other/file-transfer-http-to-http/provider/src/main/java/com/siemens/mindsphere/SourceUrlExtension.java
  samples/other/file-transfer-http-to-http/provider/src/main/java/com/siemens/mindsphere/TenantJwtDecorator.java
Owners: @paullatzelsperger

use the filter to grab the tenant - wip on using the a custom asset manager for filtering
  data-protocols/ids/ids-core/src/main/java/org/eclipse/dataspaceconnector/ids/core/service/CatalogServiceImpl.java
  samples/other/file-transfer-http-to-http/provider/build.gradle.kts
  samples/other/file-transfer-http-to-http/provider/src/main/java/com/siemens/mindsphere/ProviderBaseRuntime.java
  samples/other/file-transfer-http-to-http/provider/src/main/java/com/siemens/mindsphere/SiemensInMemoryAssetIndex.java
  samples/other/file-transfer-http-to-http/provider/src/main/java/com/siemens/mindsphere/SourceUrlExtension.java
  samples/other/file-transfer-http-to-http/provider/src/main/java/com/siemens/mindsphere/TenantFilter.java
Owners: @ronjaquensel, @juliapampus, @DominikPinsel, @denisneuling, @paullatzelsperger

use the custom catalog service for filtering
  samples/other/file-transfer-http-to-http/api/src/main/java/com/siemens/mindsphere/tenant/PropertiesBasedTenantServiceImpl.java
  samples/other/file-transfer-http-to-http/api/src/main/java/com/siemens/mindsphere/tenant/TenantService.java
  samples/other/file-transfer-http-to-http/provider/build.gradle.kts
  samples/other/file-transfer-http-to-http/provider/src/main/java/com/siemens/mindsphere/ProviderBaseRuntime.java
  samples/other/file-transfer-http-to-http/provider/src/main/java/com/siemens/mindsphere/SiemensInMemoryAssetIndex.java
  samples/other/file-transfer-http-to-http/provider/src/main/java/com/siemens/mindsphere/SourceUrlExtension.java
  samples/other/file-transfer-http-to-http/provider/src/main/java/com/siemens/mindsphere/tenant/SiemensCatalogServiceImpl.java
  samples/other/file-transfer-http-to-http/provider/src/main/java/com/siemens/mindsphere/tenant/SiemensConnectorServiceImpl.java
Owners: @paullatzelsperger

use the filter to grab the tenant from header
  data-protocols/ids/ids-api-multipart-dispatcher-v1/src/main/java/org/eclipse/dataspaceconnector/ids/api/multipart/dispatcher/sender/IdsMultipartSender.java
  samples/other/file-transfer-http-to-http/api/src/main/java/com/siemens/mindsphere/tenant/TenantService.java
  samples/other/file-transfer-http-to-http/provider/src/main/java/com/siemens/mindsphere/SiemensInMemoryAssetIndex.java
  samples/other/file-transfer-http-to-http/provider/src/main/java/com/siemens/mindsphere/SourceUrlExtension.java
  samples/other/file-transfer-http-to-http/provider/src/main/java/com/siemens/mindsphere/TenantFilter.java
  samples/other/file-transfer-http-to-http/provider/src/main/java/com/siemens/mindsphere/tenant/SiemensCatalogServiceImpl.java
Owners: @ronjaquensel, @juliapampus, @DominikPinsel, @denisneuling, @paullatzelsperger

log headers
  samples/other/file-transfer-http-to-http/provider/src/main/java/com/siemens/mindsphere/TenantFilter.java
Owners: @paullatzelsperger

Add files via upload
  resources/charts/dataspace-connector/templates/secret-config.yaml
Owners: @paullatzelsperger

fix compile issues
  extensions/data-plane/data-plane-http/src/test/java/org/eclipse/dataspaceconnector/dataplane/http/pipeline/TransferInOneGoRequestBodyTest.java
  samples/other/file-transfer-http-to-http/api/src/main/java/com/siemens/mindsphere/datalake/edc/http/ConsumerApiController.java
  samples/other/file-transfer-http-to-http/consumer/build.gradle.kts
  samples/other/file-transfer-http-to-http/provider/build.gradle.kts
  samples/other/file-transfer-http-to-http/provider/src/main/java/com/siemens/mindsphere/SourceUrlExtension.java
  samples/other/file-transfer-http-to-http/transfer-file/src/main/java/com/siemens/mindsphere/datalake/edc/http/TransferExtension.java
Owners: @bscholtes1A, @jimmarino, @paullatzelsperger

cleanup and have sample for presdev
  data-protocols/ids/ids-api-multipart-dispatcher-v1/src/main/java/org/eclipse/dataspaceconnector/ids/api/multipart/dispatcher/sender/IdsMultipartSender.java
  samples/other/file-transfer-http-to-http/provider/src/main/java/com/siemens/mindsphere/SourceUrlExtension.java
Owners: @ronjaquensel, @juliapampus, @DominikPinsel, @denisneuling, @paullatzelsperger

fix after merging main
  extensions/mindsphere/mindsphere-http/src/main/java/com/siemens/mindsphere/datalake/edc/http/provision/SourceUrlProvisioner.java
  samples/other/file-transfer-http-to-http/api/build.gradle.kts
  samples/other/file-transfer-http-to-http/provider/build.gradle.kts
  samples/other/file-transfer-http-to-http/provider/src/main/java/com/siemens/mindsphere/SourceUrlExtension.java
  settings.gradle.kts
Owners: @paullatzelsperger

use ten instead of tenant and enhance examples
  samples/other/file-transfer-http-to-http/api/src/main/java/com/siemens/mindsphere/tenant/TenantService.java
  samples/other/file-transfer-http-to-http/provider/src/main/java/com/siemens/mindsphere/SourceUrlExtension.java
  samples/other/file-transfer-http-to-http/provider/src/main/java/com/siemens/mindsphere/tenant/SiemensCatalogServiceImpl.java
Owners: @paullatzelsperger

cleanup and filter by asset name
  samples/other/file-transfer-http-to-http/provider/build.gradle.kts
  samples/other/file-transfer-http-to-http/provider/src/main/java/com/siemens/mindsphere/SourceUrlExtension.java
  samples/other/file-transfer-http-to-http/transfer-file/build.gradle.kts
  samples/other/file-transfer-http-to-http/transfer-file/src/main/java/com/siemens/mindsphere/datalake/edc/http/TransferExtension.java
  samples/other/file-transfer-http-to-http/transfer-file/src/main/resources/META-INF/services/org.eclipse.dataspaceconnector.spi.system.ServiceExtension
  settings.gradle.kts
Owners: @paullatzelsperger

fix null ptr
  samples/other/file-transfer-http-to-http/provider/src/main/java/com/siemens/mindsphere/TenantFilter.java
Owners: @paullatzelsperger

adjustments
  extensions/hashicorp-vault/build.gradle.kts
  extensions/hashicorp-vault/src/main/java/org/eclipse/dataspaceconnector/core/security/hashicorpvault/HashicorpVaultExtension.java
Owners: none

add vault dependency
  resources/charts/dataspace-connector/Chart.yaml
Owners: @paullatzelsperger

added condition
  resources/charts/dataspace-connector/Chart.yaml
Owners: @paullatzelsperger

fix import
  extensions/hashicorp-vault/src/main/java/org/eclipse/dataspaceconnector/core/security/hashicorpvault/HashicorpVaultExtension.java
Owners: none

checkstyle
  samples/other/file-transfer-http-to-http/api/src/main/java/com/siemens/mindsphere/tenant/PropertiesBasedTenantServiceImpl.java
Owners: @paullatzelsperger

dependency build beforehand
  system-tests/minikube/minikube-test.sh
Owners: @algattik

fix gitmodules
  .gitmodules
Owners: none

fix dependency name
  resources/charts/dataspace-connector/Chart.yaml
Owners: @paullatzelsperger
